{
  "extends": [
    "../node_modules/eslint-config-dshimkin/default.js",
    "../node_modules/eslint-config-dshimkin/jasmine.js"
  ],
  "parserOptions": {
    "sourceType": "script",
    "ecmaFeatures": {
      "globalReturn": true
    }
  }
}
